{
  "env": {
    "es2020": true,
    "browser": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": ["./tsconfig.json"],
    "sourceType": "module",
    "ecmaVersion": 2020
  },
  "extends": [
    "airbnb-typescript/base",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "prettier",
    "plugin:prettier/recommended"
  ],
  "plugins": ["@typescript-eslint"],
  "rules": {
	  "@typescript-eslint/no-unused-vars": 0,
	  "no-unused-vars": 0,
	  "import/extensions": 0,
	  "import/no-unresolved": 0,
	  "import/no-extraneous-dependencies": 0,
	  "@typescript-eslint/lines-between-class-members": 0,

  }
}